//syntaxte css
/* header p {
  color: red;
}

header a {
  color: purple;
  background: lawngreen;
} */

//syntaxe scss
.header-component {
  background: grey;
  height: 50px;
  display: flex;
justify-content: space-between;
  p {
    color: red;
  }
  a {
    color: purple;
    background: lawngreen;
  }
}

.header-component > div {

  display: flex;
  align-items: center;
  justify-content: space-around;
margin-left: 40px;
background-color: aqua;
width: 75%;

}

