.App {
  text-align: center;
  color: black;
}
a:link {
  text-decoration: none;
  color:black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.main {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;

  flex-wrap: wrap;

}

.page {
  border-radius: 50%;
  background-color: #fff;
height: 30px;
width: 30px;
}

.headerbis{

  display: flex;
  align-items: center;
  height: 50px;

}

.cardSubInformation{
  color: grey;
  font-size: small;
}
 
p {
  color: black;
} 

section{

justify-content: space-between;
  width:250px;
display: flex;



}
.cardSubInformationPrice{
border-bottom: solid grey 1px;
}
.imageOffer {
width : 50%;
}

.imageOffer img {
  width : 90%;
  }

  button{
    background-color: #fff;
  }

  .mainhome {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
background-color: #ffffff;

  }

  .card{

    width: 33%;
  }

  .searchbar-input {
margin-left: 10px;
margin-right: 10px;
  }

